<!-- views/cart.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>

  <!-- Agrega los enlaces CDN a Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <style>
    body {
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    li {
      list-style: none;
      margin-bottom: 20px;
    }

    .delete-btn {
      cursor: pointer;
    }

    .checkout-btn {
      margin-top: 20px;
    }

    /* Puedes agregar más estilos según tus preferencias */
  </style>
</head>
<body>
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/realtimeproducts">Ir a Carga de productos</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/chat">Ir al Chat</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/cart">Ir al carrito</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/products">Ir a Products</a>
    </li>
    <li class="page-item mt-3 mr-2 ml-2">
      <a class="btn btn-primary" href="/users/register">Regístrate</a>
    </li>
    <li class="page-item mt-3 ml-2">
      <a class="btn btn-primary" href="/users/login">Inicia sesión</a>
    </li>
  </ul>
</nav>

  <div class="container">
    <h1>Productos en el carrito</h1>
    <ul class="list-unstyled">
      {{#each productsInCart}}
        <li class="border p-3 d-flex justify-content-between align-items-center">
          <div>
            <strong>{{this.title}}</strong><br>
            Nombre: {{this.name}}<br>
            Precio: ${{this.price}}<br>
            Cantidad: {{this.quantity}}
          </div>
          <button class="btn btn-danger delete-btn" onclick="deleteProduct('{{this.productId}}')">Eliminar</button>
        </li>
      {{/each}}
    </ul>

    <button class="btn btn-primary btn-lg checkout-btn" onclick="checkout()">Realizar Compra</button>
  </div>

  <!-- Agrega los scripts de Bootstrap y funciones personalizadas al final del body -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    // Función para eliminar un producto del carrito
   async function deleteProduct(productId) {
      try {
        const response = await fetch(`api/carts/${productId}`, { 
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
              
            },
        });

        if (!response.ok) {
            throw new Error(`Error al eliminar el producto del carrito: ${response.status}`);
        }
        if(response.ok){location.reload();}
        const data = await response.json();

        // Puedes realizar otras acciones después de eliminar el producto

        return data; // Puedes decidir si devolver algo específico desde el backend y manejarlo aquí

    } catch (error) {
        console.error('Error al eliminar el producto del carrito:', error);
        // Manejar el error de alguna manera
    }
    }

    // Función para realizar la compra
    function checkout() {
      // Implementa la lógica para realizar la compra
      console.log('Realizar compra');
    }
  </script>
</body>
</html>
